
/*generales*/
*{
	font-family: 'Lato', sans-serif;
}
hr{
	width:50px;border:5px solid red;
	border-radius: 4px;
	margin: 20px 0
}
h1{
	font-size: 28px;

}
h2{
	font-size:34px;


}
h3{
	font-size:34px;

}
h4{
	font-size: 20px;

}
p {
    margin-bottom:  1em;
    padding-bottom: 1em;

}
a{
	text-decoration: none;
}
header{
	padding-top: .5em;
	padding-bottom: .5em;
}
section{
	padding-top: 1em;
	padding-bottom: 1em;
}
ul{
	padding-left: 1em;
}

footer img{
	width: 5%;
	margin:1em;
}

/*particulares*/

/*primer sección*/

.navbar-brand{
	color: gray
}
.navbar-brand--title{
	font-color:gray;
}
.text-right{
	text-align: right
}
.text-left{
	text-align: left;
}
.navbar-button{
	background-color: #0081ff;
	color: white;
	border-radius: .5em;
	padding: .7em 1em;
	font-size: 16px;
}
